/* ===== Container chính ===== */
.user-stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin: 20px auto 35px auto;
  padding: 0 32px;
  box-sizing: border-box;
}

/* ===== Card thống kê ===== */
.user-card {
  flex: 1 1 calc(25% - 24px);
  min-width: 250px;
  height: 120px;
  border: 1px solid #eee;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.user-card:hover {
  transform: translateY(-3px);
}

/* ===== Nội dung bên trong card ===== */
.user-card-body {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 24px;
}

/* ===== Hộp icon ===== */
.user-icon-box {
  height: 60px;
  width: 60px;
  background-color: #ecf4e9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-left: 10px;
}

/* ===== Phần text bên phải ===== */
.user-card-content {
  flex: 1;
}

.user-value {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.user-title {
  color: #666;
  margin: 0;
}

.user-change {
  color: #27ae60;
  font-weight: bold;
  margin: 0;
  font-size: 13px;
}
